@using System.Text
@using UserManagement.Helper
@model UserViewModel
@{
    ViewData["Title"] = "Modyfikuj Użytkownika";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form asp-action="Modify" method="post" class="mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="User.Id"/>

        <div class="form-group">
            <label asp-for="User.UserName" class="control-label"></label>
            <input asp-for="User.UserName" class="form-control"/>
            <span asp-validation-for="User.UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="User.Email" class="control-label"></label>
            <input asp-for="User.Email" class="form-control"/>
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="newPassword" class="control-label">Nowe Hasło</label>
            <input type="password" name="newPassword" class="form-control"/>
            <span asp-validation-for="User.PasswordHash" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserSettings.PasswordExpirationDays" class="control-label">Ważność Hasła użytkownika</label>
            <input asp-for="UserSettings.PasswordExpirationDays" class="form-control"/>
            <span asp-validation-for="UserSettings.PasswordExpirationDays" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserSettings.SessionTimeout" class="control-label">Czas sesji użytkownika</label>
            <input asp-for="UserSettings.SessionTimeout" class="form-control"/> minut
            <span asp-validation-for="UserSettings.SessionTimeout" class="text-danger"></span>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="User.IsRestrictionsDisabled" checked="@Model.User.IsRestrictionsDisabled" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Ograniczenia
            </label>
            <span asp-validation-for="User.IsRestrictionsDisabled" class="text-danger"></span>
        </div>
        
        <div class="form-group my-4">
            <input type="submit" value="Zapisz" class="btn btn-primary"/>
        </div>

    </form>

    @{
        if (Model.User.LockoutEnd != null)
        {
            var diffrence = Model.User.LockoutEnd - DateTime.Now;

            if (diffrence.Value != TimeSpan.MinValue)
            {
                <div class="row">
                    <div class="col-5">
                        <div class="alert alert-danger">
                            <span class="fw-bold">Blokada konta!</span> <br />
                            Kończy się za @Helper.GetStringDate(diffrence.Value)
                            <form asp-action="Unlock" asp-controller="User" method="post">
                                <input type="hidden" name="userId" value="@Model.User.Id" />
                                <button type="submit" class="btn btn-warning">Odblokuj</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    }
    
    <div>
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </div>
</div>




<style>
    h1 {
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .text-danger {
        font-weight: bold;
    }
</style>
